.title {
    color: #FDAE39;
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 30px;
}

.header{
    text-align: center;
    margin-bottom: 20px;
}

mat-form-field {
    display: inline-block; /* Para que los campos estén uno al lado del otro */
    margin-right: 10px; /* Espacio entre los campos de entrada */
    width: 250px; /* Ancho máximo de los campos de entrada */
    margin-bottom: 10px; /* Espacio debajo de los campos de entrada */
}
