<mat-toolbar class="public-toolbar" aria-label="toolbar">
    <mat-toolbar-row>
        <img src="image\logo2.png" alt="Logo de Carga sin Estres">
        <br>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>
    </mat-toolbar-row>
</mat-toolbar>
<!--toolbar-->

<div class="container">
    <div class="container-back"> 
        <div class="user-info">  
            <form id="settings" action="" method="post" [formGroup]="userSettingsForm" (submit)="onSubmit()">
                <h2>Editar datos de Perfil de Cliente</h2><!--Icono-->
                <div class="right-section">
                    <input type="text" placeholder="Nombre" formControlName="nombre" id="nombre" required>
                    <input type="text" placeholder="Apellido Materno" formControlName="apellidoMaterno" id="apellidoMaterno" required>
                    <input type="text" placeholder="Apellido Paterno" formControlName="apellidoPaterno" id="apellidoPaterno" required>
                    <input type="text" placeholder="Celular" formControlName="celular" id="celular" required>
                    <input type="text" placeholder="Dirección" formControlName="direccion" id="direccion" required>
                </div>
                <div class="right-section">
                    <input type="email" placeholder="Correo electrónico" formControlName="correo" id="correo" required>
                    <input type="password" placeholder="Contraseña" formControlName="contrasena" id="contrasena" required> <!--change to text?-->
                    <input type="password" placeholder="Repetir contraseña" formControlName="confirmarContrasena" id="confirmarContrasena" required>
                </div>
                <button id="submitButton" type="submit">Guardar cambios</button>
                <button id="cancelButton" type="button" href="">Cancelar</button>
                <div id="errorMessages" class="error-messages" [innerHTML]="errorMessage">{{errorMessage}}</div>
            </form>
        </div>     
    </div>
  </div>

<!--footer-->
<footer class ="public-footer" aria-label="footer">
    <p text-align="center"> Copyright <span>&copy;</span> Carga sin Estres, All rights reserved.</p>
    <br>
    <p>   Developed by Eric Cuevas - U202112766   </p>
 </footer>