<app-toolbar-landing></app-toolbar-landing>
<div class="container">
    <div class="container-back"> 
        <div class="user-info">
            <div class="left-section">
                <img src="https://github.com/LuceroObispoRios/Grupo1_SW53/blob/main/Proyecto/image/logo2.png?raw=true" alt="Avatar">
                <h5>Carga sin Estres</h5>
            </div>
            <form id="myForm" action="" method="post" [formGroup]="clientRegistrationForm" (submit)="onSubmit()">
                <div class="right-section">
                    <input type="text" placeholder="Nombre" formControlName="nombre" id="nombre" required>
                    <input type="text" placeholder="Apellido Materno" formControlName="apellidoMaterno" id="apellidoMaterno" required>
                    <input type="text" placeholder="Apellido Paterno" formControlName="apellidoPaterno" id="apellidoPaterno" required>
                    <input type="text" placeholder="Celular" formControlName="celular" id="celular" required>
                    <input type="text" placeholder="Dirección" formControlName="direccion" id="direccion" required>
                </div>
                <div class="right-section">
                    <input type="email" placeholder="Correo electrónico" formControlName="correo" id="correo" required>
                    <input type="password" placeholder="Contraseña" formControlName="contrasena" id="contrasena" required>
                    <input type="password" placeholder="Repetir contraseña" formControlName="confirmarContrasena" id="confirmarContrasena" required>
                </div>
                <button id="registrarButton" type="submit">Registrar ➜</button>
                <button id="cancelButton" type="button">Cancelar</button>
                <div id="errorMessages" class="error-messages" [innerHTML]="errorMessage">{{errorMessage}}</div>
            </form>
        </div>
    </div>
  </div>
  <br><br><br>
  
