<div>
    <div>
      <button mat-icon-button class="btn-back" (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>
    <div class="title">
      <p align="center">Historial de Reservas</p>
    </div>
  </div>
  <div class="container responsive-grid">
    <mat-card *ngFor="let element of pageSlice" class="card-body">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title class="card-title">
            {{element.id}} . Reserva {{element.bookingDate | date:'shortDate'}}
          </mat-card-title>
          <mat-card-subtitle>
            <div class="card-subtitle">
              <p>
                <span class="bold">Fecha mudanza : </span><span>{{element.movingDate | date:'dd/MM/yyyy'}}</span>
              </p>
              <p>
                <span class="bold">Estado de reserva : </span><span>{{element.status}}</span>
              </p>
            </div>
          </mat-card-subtitle>
          <img src="{{element.hiredCompany.logo}}" alt="element.hiredCompany.name" class="logo-companies">
        </mat-card-title-group>
  
      </mat-card-header>
      <mat-card-content class="card-content">
          
          <div><span class="bold">Dirección de recojo :  </span><span>{{element.pickupAddress}}</span></div>
          <div><p><span class="bold">Dirección de entrega : </span><span>{{element.destinationAddress}}</span></p></div>
          
          <div><p><span class="bold">Pago total: </span><span> S/.{{element.payment.totalAmount}}</span></p></div>
          <div><p><span class="bold">Empresa contratada: </span><span>{{element.hiredCompany.name}}</span></p></div>
      </mat-card-content>
      <div class="btn-group">
        <div >
          <mat-dialog-actions >
            <ng-container *ngIf="element.status == 'En curso'">
              <button mat-button class="btn-chat" (click)="openDialog()">
                <mat-icon> chat_bubble</mat-icon>
                  Chat
              </button>
            </ng-container>
          </mat-dialog-actions>
        </div>
        <div>
          <div>
            <button mat-button class="btn-details">
                <mat-icon>add_circle</mat-icon>
                Ver detalle
            </button>
          </div>
        </div>
      </div>
      
    </mat-card>
    <br>
  </div>
      <mat-paginator [length]="this.elementData.length" [pageSize]="4" [pageSizeOptions]="[4, 8, 12]" 
                     (page)="onPageChange($event)"
                     aria-label="Select page of list of movies">
      </mat-paginator>
  
  
  